<!doctype html>
<html>
<head>
    <meta charset=utf-8 />

    <link rel=stylesheet type=text/css href=/static/codingbat.css>

    <script src='/static/ace.js' type='text/javascript' charset='utf-8'></script>
    <script src='/static/challenge.js' type='text/javascript' charset='utf-8'></script>
    <title>CodingBat Java Warmup-1 sleepIn</title>
</head>
<body>
</body>
</html>
