{{ define "base" }}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="static/codingbat.css">
    {{ block "extend_header" . }}{{ end }}
</head>
<body>
    {{ template "header" }}
    <div class="tabin">
        {{ block "content" . }}{{ end }}
    </div>
    {{ template "footer" }}
</body>
</html>
{{ end }}
